body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
margin:0;
padding:40px;
}

h1{
margin-bottom:20px;
}

button{
padding:12px 24px;
border:none;
border-radius:8px;
background:#38bdf8;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

.container{
display:flex;
justify-content:center;
gap:25px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:25px;
border-radius:10px;
width:180px;
box-shadow:0 6px 15px rgba(0,0,0,0.3);
}

.temp{
font-size:28px;
margin-top:10px;
}

#loading{
margin-top:20px;
font-size:18px;
}