body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
padding:20px;
}

.controls{
margin:20px;
}

select,button{
padding:10px;
margin:5px;
border-radius:6px;
border:none;
}

button{
background:#38bdf8;
cursor:pointer;
}

#newsContainer{
max-width:800px;
margin:auto;
}

.card{
background:#1e293b;
padding:15px;
margin:10px;
border-radius:10px;
text-align:left;
}

.card a{
color:#38bdf8;
text-decoration:none;
}